.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 25px;


    .logo-contaner {
        padding: 25px;
        width: 70px;
        height: 100%;
    }

    .options {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        align-items: center;

        .option {
            padding: 10px 15px;
        }

    }
}